WindowsBanking/Connected Services/TransactionManagerServiceReference/TransactionManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepositResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WithdrawalResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillPaymentResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="toAccountId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateInterest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateInterestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateInterestResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>